#calculator{
position: relative;;
top: 130px;;
left: 500px;
/* background: linear-gradient(to right, yellow , green); */
height: 100%;
width: 100%;
}
body{
    background: linear-gradient(to right, yellow , green);
 
}
#bg{
    /* background: linear-gradient(to right, yellow , green);
    height: 100%; */
}

button{
    width: 75px;
    height: 80px;
    background-color:rgba(255, 255, 255, 0.712);
    font-size: x-large;
    font-weight: bold;
    color:linear-gradient(to right, yellow , green) ;
    border-block-color:rgb(131, 131, 131) ;
    border-left-color: rgb(131, 131, 131);
    border-bottom: rgb(131, 131, 131);
    border-top-color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 10px;
    
    
}
#clear{
    background-color: orange;
}
.screen{
    width: 305px;
    height: 70px;
    border-radius: 10px;
    border-color: black;
}
.col-8{
    background-color: white;
}
.col-4{
padding-left: 0px;
}